main {
    padding-top: 10vh;
}

.frame-sm {
    width: 80px;
    height: 80px;
}

.frame-md {
    width: 100px;
    height: 100px;
}

.frame-lg {
    width: 120px;
    height: 120px;
}

.avatar {
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#brand {
    font-size: 5vh;
}

header nav {
    height: 7vh;
    background-color: #597da3;
}

.question {
    border: 2px solid gray;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.tag-item {
    margin: 20px;
}
