{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="row">
        <h1>New Question</h1>
    </div>
    <br>

    <div class="row">
        <div class="col-1">
            <label for="title">Title</label>
        </div>
        <div class="col-11">
            <input type="text" id="title" name="title" minlength="4" maxlength="8" size="30">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-1">
            <label for="text">Text</label>
        </div>
        <div class="col-11">
            <textarea id="text"
                      name="text"
                      required
                      cols="34"></textarea>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-1">
            <label for="tags">Tags</label>
        </div>
        <div class="col-11">
            <input type="text" id="tags" name="tags" minlength="4" maxlength="8" size="30">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-dark" type="submit" >Ask!</button>
        </div>
    </div>
{% endblock %}
