{% load static %}


<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

{% include "header.html" %}
                                {# TODO fix header/sticky top, because it overlaps the content #}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <!--    .container>.row>.col-8+.col-4-->
    <div class="container">
        <div class="row">
            <div class="col-8">

                {% block content %}
                {% endblock %}

            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h2>Popular tags</h2>
                        <span class="tag-item fs-3">LOL</span>
                        <span class="tag-item fs-6">LOLOLO</span>
                        <span class="tag-item fs-5">LOL</span>
                        <span class="tag-item fs-3">LOLOLOL</span>
                        <span class="tag-item fs-4">LOLOL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% include "footer.html" %}

</body>
</html>
