{% extends "base.html" %} {% load static %} {% block content %}

<div class="mb-5 mt-5">
  <h4 class="mb-3">Log In</h4>
  <hr />

  <form method="POST">
    {% csrf_token %}
    <div>{{ form.non_field_errors.0 }}</div>
    {% for field in form.visible_fields %}
    <div>
      <label for="title">{{field.label}}</label>
      {{field.as_widget}}
    </div>
    {% endfor %}

    <div class="alert alert-danger invisible" role="alert">
      Sorry, this login does not exist Sorry, wrong password
    </div>

    <button class="btn btn-primary btn-block w-25 mb-2" type="submit">
      Login in
    </button>
    <a
      type="button"
      href="{% url 'signup' %}"
      class="btn btn-success w-25"
      role="button"
      >Sign up</a
    >
  </form>
</div>

{% endblock %}
