{% extends "base.html" %} {% load static %} {% block content %}
<div class="col mt-5">
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="title"> {{ form.login.label }} </label>
          {{ form.login.as_widget }}
        </div>
        <div class="form-group">
          <label for="title"> {{ form.email.label }} </label>
          {{ form.email.as_widget }}
        </div>
        <button class="btn btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
