{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="mb-5 mt-5">
  <h4 class="mb-3">Registration</h4>
  <hr>

  <form method="POST">
    <div>{{ form.non_field_errors.0}}</div>
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="title">{{field.label}}</label>
        {{field.as_widget}}
      </div>
    {% endfor %}
    
    <button type="submit" class="btn =btn-primary btn-success w-25" name="SignUp">Register</button>
</div>

{% endblock %}
