{% load static %}

<nav
  class="navbar navbar-expand-md fixed-top navbar-dark"
  style="background-color: #597da3"
>
  <a class="navbar-brand" style="font-size: 4vh" href="{% url 'index' %}"
    >wtFAQ</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mb-1" id="navbarCollapse">
    <form class="form-inline mt-2 mt-md-0 mr-auto">
      <input
        class="form-control mr-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        style="width: 380px"
      />
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask</button> -->
      <a
        href="{% url 'ask' %}"
        class="btn btn-outline-light my-2 my-sm-0"
        >Ask New Question</a
      >
    </form>

    {% if user.is_authenticated %}
    <!-- Logined user block -->
    <div>
      <div class="d-inline-block">
        <a href="# ">
          <img
            class="float-left mt-1 ml-lg-3 ml-md-3 mr-3 rounded"
            style="width: 50px; height: 50px"
            src="{% static 'img/avatar_1.jpg' %}"
            alt="Avatar "
          />
        </a>
      </div>
      <div class="d-inline-block">
        <div class="text-white" style="font-size: 20px">
          <!-- User login -->
          {{ user.username }}
        </div>
        <div class="d-inline-block pt-1">
          <a
            href="{% url 'profile' %}"
            class="mr-3 text-white-50"
            >Settings</a
          >
          <a
            href="{% url 'logout' %}?next={{request.path}}"
            class="mr-3 text-white-50"
            >Logout</a
          >
          <!-- <a href="# " class="mr-3">Settings</a>
          <a href="# " class="mr-3">Logout</a> -->
        </div>
      </div>
    </div>

    {% else %}

    <div>
      <div class="d-inline-block">
        <a
          type="button"
          href="{% url 'login' %}?next={{request.path}}"
          class="btn btn-outline-light mr-1"
          role="button"
          >Login</a
        >
        <a
          type="button"
          href="{% url 'signup' %}"
          class="btn btn-success"
          role="button"
          >Sign up</a
        >
      </div>
    </div>

    {% endif %}
  </div>
</nav>
